body {
    text-align: center;
    margin: 0;
}

.form-wrapp {
    display: flex;
    justify-content: center;
    background-color: rgb(127, 197, 255);
    padding: 12.5px 0;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
}

.search-form input {
    height: 26px;
    width: 294px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 3px;
}

.search-form input:focus {
    outline: none;
    border: 1px solid rgb(44, 29, 255);
}

.search-form button {
    position: absolute;
    right: 1px;
    height: 28px;
    font-size: 18px;
    border: 0;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(198, 255, 247);
}

.search-form button:hover {
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 12.5px auto;
    max-width: calc(100vw - 200px);
    gap: 25px;
}

.photo-card {
    width: 400px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 
        0px 1px 1px rgb(0 0 0 / 14%), 
        0px 2px 1px rgb(0 0 0 / 20%);
}

.photo-card:hover {
    box-shadow: 0px 10px 5px rgb(0 0 0 / 12%),
        0px 4px 3px rgb(0 0 0 / 14%),
        0px 6px 3px rgb(0 0 0 / 20%);
}

.img {
    display: block;
    object-fit: cover;
    width: 400px;
    height: 250px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}